* {
  font-family: ;
}

.top-header {
  justify-content: flex-end;
  background: #050c1b
    linear-gradient(90deg, #050c1b, #1a4055 15%, #1a4055 35%, #050c1b 50%);
  color: #fff;
  height: 20px;
}

.top-header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 30px;
  padding: 4px 20px;
  font-size: 10px;
  gap: 10px;
}

.sec-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.links ul {
  list-style: none;
  display: flex;
}

.links ul li {
  padding: 0 10px;
}

.links-2 ul {
  list-style: none;
  display: flex;
}

.links-2 ul li {
  padding: 0 10px;
}

button {
  border-radius: 4px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  display: block;
  background: #068932;
  color: #ffffff !important;
  font-size: 10px;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  color: #1f1f20;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 32px auto 0;
  color: #39424e;
  text-align: center;
  margin: 25px 240px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  color: #fff;
  margin: 10px 0px;
}

.btn button {
  padding: 2px 25px;
  margin: 12px 0px;
}

.btn .btn2 {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 1px solid !important;
}

.below {
  font-size: 12px;
  line-height: 1.5;
  margin: 32px auto 0;
  color: #39424e;
  text-align: center;
  margin: 25px 240px 0;
}

.com-img {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.com-img img {
  width: 60px;
  height: 40px;
}
